In [1]:
import pandas as pd

In [2]:
# Read data
parquet_file = "C:/Users/PC/Documents/Project/Zoomcamp_project/Data-Engineering-Zoomcamp/yellow_tripdata_2021-01.parquet"

df = pd.read_parquet(parquet_file)
df.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5,NaN
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1.0,1.60,1.0,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5,NaN
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1.0,4.10,1.0,N,95,157,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,0.0,NaN
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1.0,5.70,1.0,N,90,40,2,18.0,3.0,0.5,0.00,0.00,0.3,21.80,2.5,NaN
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1.0,9.10,1.0,N,97,129,4,27.5,0.5,0.5,0.00,0.00,0.3,28.80,0.0,NaN
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2.0,2.70,1.0,N,263,142,1,12.0,3.0,0.5,3.15,0.00,0.3,18.95,2.5,NaN
10,2,2021-01-01 00:15:52,2021-01-01 00:38:07,3.0,6.11,1.0,N,164,255,1,20.5,0.5,0.5,0.00,0.00,0.3,24.30,2.5,NaN
11,2,2021-01-01 00:46:36,2021-01-01 00:53:45,2.0,1.21,1.0,N,255,80,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79,0.0,NaN
12,1,2021-01-01 00:10:46,2021-01-01 00:32:58,2.0,7.40,1.0,N,138,166,2,24.5,2.5,0.5,0.00,6.12,0.3,33.92,0.0,NaN
13,2,2021-01-01 00:31:06,2021-01-01 00:38:52,5.0,1.70,1.0,N,142,50,1,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5,NaN
14,2,2021-01-01 00:42:11,2021-01-01 00:44:24,5.0,0.81,1.0,N,50,142,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5,NaN
15,2,2021-01-01 00:17:48,2021-01-01 00:21:55,1.0,1.01,1.0,N,236,237,1,5.5,0.5,0.5,1.00,0.00,0.3,10.30,2.5,NaN
16,2,2021-01-01 00:33:38,2021-01-01 00:38:37,1.0,0.73,1.0,N,142,239,1,5.5,0.5,0.5,2.79,0.00,0.3,12.09,2.5,NaN
17,2,2021-01-01 00:47:56,2021-01-01 00:52:53,1.0,1.17,1.0,N,238,166,1,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5,NaN
18,2,2021-01-01 00:04:21,2021-01-01 00:07:58,1.0,0.78,1.0,N,239,238,1,4.5,0.5,0.5,1.66,0.00,0.3,9.96,2.5,NaN
19,2,2021-01-01 00:18:36,2021-01-01 00:27:10,2.0,1.66,1.0,N,151,142,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5,NaN

In [3]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [4]:
# Load data to database 

from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

0

In [10]:
df.shape

(1369769, 19)

In [9]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [11]:
# Function to insert data
def insert_df_in_chunks(df, table_name, engine, chunk_size=10000):
    """
    Inserts a pandas DataFrame into a SQL table in chunks.

    Args:
        df (pd.DataFrame): The DataFrame to insert.
        table_name (str): The name of the SQL table.
        engine (sqlalchemy.engine.Engine): The SQLAlchemy engine for the database connection.
        chunk_size (int, optional): The number of rows to insert in each chunk. Defaults to 10000.
    """
    # Insert the DataFrame in chunks
    for i in range(0, len(df), chunk_size):
        df_chunk = df[i:i + chunk_size]
        df_chunk.to_sql(
            name=table_name,
            con=engine,
            if_exists='append',  # Append data to the table
            index=False,         # Don't write the DataFrame index to the SQL table
            chunksize=chunk_size  # explicitly set chunksize in to_sql
        )
        print(f"Inserted chunk {i // chunk_size + 1} of {len(df) // chunk_size + 1}") # give a progress

In [12]:
table_name = 'yellow_taxi_data'
insert_df_in_chunks(df, table_name, engine)

Inserted chunk 1 of 137
Inserted chunk 2 of 137
Inserted chunk 3 of 137
Inserted chunk 4 of 137
Inserted chunk 5 of 137
Inserted chunk 6 of 137
Inserted chunk 7 of 137
Inserted chunk 8 of 137
Inserted chunk 9 of 137
Inserted chunk 10 of 137
Inserted chunk 11 of 137
Inserted chunk 12 of 137
Inserted chunk 13 of 137
Inserted chunk 14 of 137
Inserted chunk 15 of 137
Inserted chunk 16 of 137
Inserted chunk 17 of 137
Inserted chunk 18 of 137
Inserted chunk 19 of 137
Inserted chunk 20 of 137
Inserted chunk 21 of 137
Inserted chunk 22 of 137
Inserted chunk 23 of 137
Inserted chunk 24 of 137
Inserted chunk 25 of 137
Inserted chunk 26 of 137
Inserted chunk 27 of 137
Inserted chunk 28 of 137
Inserted chunk 29 of 137
Inserted chunk 30 of 137
Inserted chunk 31 of 137
Inserted chunk 32 of 137
Inserted chunk 33 of 137
Inserted chunk 34 of 137
Inserted chunk 35 of 137
Inserted chunk 36 of 137
Inserted chunk 37 of 137
Inserted chunk 38 of 137
Inserted chunk 39 of 137
Inserted chunk 40 of 137
Inserted chunk 41 of 137
Inserted chunk 42 of 137
Inserted chunk 43 of 137
Inserted chunk 44 of 137
Inserted chunk 45 of 137
Inserted chunk 46 of 137
Inserted chunk 47 of 137
Inserted chunk 48 of 137
Inserted chunk 49 of 137
Inserted chunk 50 of 137
Inserted chunk 51 of 137
Inserted chunk 52 of 137
Inserted chunk 53 of 137
Inserted chunk 54 of 137
Inserted chunk 55 of 137
Inserted chunk 56 of 137
Inserted chunk 57 of 137
Inserted chunk 58 of 137
Inserted chunk 59 of 137
Inserted chunk 60 of 137
Inserted chunk 61 of 137
Inserted chunk 62 of 137
Inserted chunk 63 of 137
Inserted chunk 64 of 137
Inserted chunk 65 of 137
Inserted chunk 66 of 137
Inserted chunk 67 of 137
Inserted chunk 68 of 137
Inserted chunk 69 of 137
Inserted chunk 70 of 137
Inserted chunk 71 of 137
Inserted chunk 72 of 137
Inserted chunk 73 of 137
Inserted chunk 74 of 137
Inserted chunk 75 of 137
Inserted chunk 76 of 137
Inserted chunk 77 of 137
Inserted chunk 78 of 137
Inserted chunk 79 of 137
Inserted chunk 80 of 137
Inserted chunk 81 of 137
Inserted chunk 82 of 137
Inserted chunk 83 of 137
Inserted chunk 84 of 137
Inserted chunk 85 of 137
Inserted chunk 86 of 137
Inserted chunk 87 of 137
Inserted chunk 88 of 137
Inserted chunk 89 of 137
Inserted chunk 90 of 137
Inserted chunk 91 of 137
Inserted chunk 92 of 137
Inserted chunk 93 of 137
Inserted chunk 94 of 137
Inserted chunk 95 of 137
Inserted chunk 96 of 137
Inserted chunk 97 of 137
Inserted chunk 98 of 137
Inserted chunk 99 of 137
Inserted chunk 100 of 137
Inserted chunk 101 of 137
Inserted chunk 102 of 137
Inserted chunk 103 of 137
Inserted chunk 104 of 137
Inserted chunk 105 of 137
Inserted chunk 106 of 137
Inserted chunk 107 of 137
Inserted chunk 108 of 137
Inserted chunk 109 of 137
Inserted chunk 110 of 137
Inserted chunk 111 of 137
Inserted chunk 112 of 137
Inserted chunk 113 of 137
Inserted chunk 114 of 137
Inserted chunk 115 of 137
Inserted chunk 116 of 137
Inserted chunk 117 of 137
Inserted chunk 118 of 137
Inserted chunk 119 of 137
Inserted chunk 120 of 137
Inserted chunk 121 of 137
Inserted chunk 122 of 137
Inserted chunk 123 of 137
Inserted chunk 124 of 137
Inserted chunk 125 of 137
Inserted chunk 126 of 137
Inserted chunk 127 of 137
Inserted chunk 128 of 137
Inserted chunk 129 of 137
Inserted chunk 130 of 137
Inserted chunk 131 of 137
Inserted chunk 132 of 137
Inserted chunk 133 of 137
Inserted chunk 134 of 137
Inserted chunk 135 of 137
Inserted chunk 136 of 137
Inserted chunk 137 of 137